<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>After acquiring an Associates Degree with a concentration in Mathematics from Southern State Community College in my hometown of Hillsboro, I decided to pursue a career in computer science. I am currently in my second year and expect to graduate in the spring of 2018.</p>
                </div>
            </div>
        </div>
    </section>