<!-- About Section -->
    <section id="software">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Software I Use</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

                <div class="col-sm-2 portfolio-item">
                    <a href="https://git-scm.com/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/git.svg" class="img-responsive" alt="Git">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.python.org/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/python.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="http://www.ni.com/labview/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/labview.png" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="http://www.mathworks.com/products/matlab/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/matlab.png" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="http://www.cadsoftusa.com/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/eagle.png" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.gimp.org/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/gimp.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://inkscape.org/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/inkscape.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="http://developer.android.com/sdk/index.html" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/android_studio.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.jetbrains.com/pycharm/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/pycharm.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.jetbrains.com/webstorm/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/webstorm.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.jetbrains.com/clion/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/clion.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://bitbucket.org/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/bitbucket.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.pythonanywhere.com" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/pythonanywhere.png" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://github.com/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/github.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.djangoproject.com/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/django.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="http://www.vim.org/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/vim.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

                <div class="col-sm-2 portfolio-item">
                    <a href="https://www.latex-project.org/" class="portfolio-link" data-toggle="modal">
                        <img src="{{ site.baseurl }}/img/logos/latex.svg" class="img-responsive" alt="Python">
                    </a>
                </div>

            </div>
        </div>
    </section>